.header {
    height: 52px;
    background: #fff;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: fixed;
    top: 0;
    align-items: center;
    left: 0;
    width: 100%;
    grid-gap: 1rem;
    z-index: 3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.header_logo {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    display: grid;
    align-items: center;
}
.header_login {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 1rem;
    background: rgb(163, 12, 233);
    align-self: center;
    display: grid;
    justify-self: end;
}
i {
    display: grid;
    align-self: center;
    margin-left: 1rem;
    margin-top: 2px;
}