<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="navbar">
  <div class="navbar_item" routerLink="/home" routerLinkActive="active">
    <i class="material-icons">home</i>
    <div class="navbar_item__label">Главная</div>
  </div>
  <div class="navbar_item" routerLink="/category" routerLinkActive="active">
    <i class="material-icons">category</i>
    <div class="navbar_item__label">Категории</div>
  </div>
  <div class="navbar_item" routerLink="/search" routerLinkActive="active">
    <i class="material-icons">search</i>
    <div class="navbar_item__label">Поиск</div>
  </div>
  <div class="navbar_item" routerLink="/cart" routerLinkActive="active">
    <div *ngIf="badge.length > 0">
      <div class="badge">{{badge.length}}</div>
    </div>
    <i class="material-icons">shopping_cart</i>
    <div class="navbar_item__label">Корзина</div>
  </div>