<app-header [inner]="true"></app-header>
<div class="category-details" *ngIf="dataLoaded">
    <div class="title" [@fadeIn]>{{ title.name }}</div>

    <div *ngFor="let sub of subs">
        <div class="subcategory"> 
            <div class="subtitle-wrapper">
                <div class="subtitle" [@fadeIn]>{{sub}}</div>
                <div class="see-all" (click)="onNavigate(title.id, sub)" [@fadeIn]>Посмотреть все</div>
            </div>
            <div class="category-details_list">
                <div *ngFor="let p of products">
                    <div *ngIf="p.subcategory.name == sub">
                        <div class="category-details_list__item">
                            <app-product-card [product]="p" [@fadeIn]></app-product-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cd_sc" *ngIf="!dataLoaded">
    <div class="cd_sc__title"></div>
    <div class="cd_sc__subtitle">
        <div class="cd_sc__subtitle___left"></div>
        <div class="cd_sc__subtitle___right"></div>
    </div>

    <div class="cd_sc__card">
        <div class="cd_cs__card___item"><div class="item_button"></div></div>
        <div class="cd_cs__card___item"><div class="item_button"></div></div>
        <div class="cd_cs__card___item"><div class="item_button"></div></div>

    </div>
    <div class="cd_sc__subtitle">
        <div class="cd_sc__subtitle___left"></div>
        <div class="cd_sc__subtitle___right"></div>
    </div>
    <div class="cd_sc__card">
        <div class="cd_cs__card___item"><div class="item_button"></div></div>
        <div class="cd_cs__card___item"><div class="item_button"></div></div>
        <div class="cd_cs__card___item"><div class="item_button"></div></div>
    </div>
    <div class="cd_sc__subtitle">
        <div class="cd_sc__subtitle___left"></div>
        <div class="cd_sc__subtitle___right"></div>
    </div>
    <div class="cd_sc__card">
        <div class="cd_cs__card___item"><div class="item_button"></div></div>
        <div class="cd_cs__card___item"><div class="item_button"></div></div>
        <div class="cd_cs__card___item"><div class="item_button"></div></div>
    </div>
</div>
